.user-table {
  font-size: 0.875rem;
  background-color: #fff;
  border-color: #ccc;

  th,
  td {
    text-align: center;
    vertical-align: middle;
    border-color: #ccc;
  }

  thead th {
    background-color: #f5f5f5;
    font-weight: normal;
    border-bottom-width: 1px;
  }

  .col-index {
    width: 100px;
  }

  .col-name {
    width: 150px;
  }

  .col-username {
    text-align: left;
    padding-left: 2.5rem;
  }
}